[submodule "06 Sexto Semestre/Construccion y evolucion de software/huilca-2025-b-fehv-sw-gr2"]
	path = 06 Sexto Semestre/Construccion y evolucion de software/huilca-2025-b-fehv-sw-gr2
	url = https://github.com/2025-b-sw-construccion-gr2/huilca-2025-b-fehv-sw-gr2.git
